extends layout

block content
	.container
		br
		ol.breadcrumb
			li.breadcrumb-item
				a(href='/posts') Статьи
			li.breadcrumb-item.active #{post.title}

		section.post
			h3= post.title
			a(href="/topics/#{post.topic}")
				span.badge.badge-primary #{post.topic}
			br
			time= post.createdDate
			br
			br
			p= post.content